logs/

GTFSsToINSERTs/__pycache__

GTFSsToINSERTs/ExecuteInserts/__pycache__
GTFSsToINSERTs/ExecuteInserts/GenerateDatabase/__pycache__

GTFSsToINSERTs/GTFSReadIn/__pycache__

GTFSsToINSERTs/UserInput/__pycache__

GTFSsToINSERTs/CreateTables/__pycache__

GTFSsToINSERTs/ExecuteStatements/__pycache__

main.spec

dist/main

build